body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(53, 51, 51);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 300px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.search-btn .ctrl-k {
    font-size: 0.9rem;
    color: #6d6969;
    margin-left: 120px; /* Space between "Search" and "ctrl+k" */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#search-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.blur-background {
    position: fixed; /* Fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    backdrop-filter: blur(5px); /* Apply blur to the background behind the element */
    z-index: -1; /* Ensure it's behind the content */
}

#search-bar {
    position: absolute; /* Position relative to its container */
    top: -200px; /* Adjust this value to move it higher or lower */
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
    width: 60%; /* Adjust the width as needed */
    height: 60px;
    padding: 10px 15px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 25px; /* Makes the borders rounded */
    border: 1px solid #ccc; /* Border color */
    outline: none; /* Removes default outline */
    display: block; /* Ensures centering works */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for a sleek look */
    /* opacity */
    opacity:0.8;
}

#results {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%); /* Centers the dropdown below the input */
    width: 60%; /* Match the input width */
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners for the dropdown */
;
}
#results1 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%); /* Centers the dropdown below the input */
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    color:white;
    text-align:center;
    max-height: 300px;
    /* overflow-y: auto; */
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners for the dropdown */
}
@media (max-width: 1000px) {
    #results {
        width: 75%; /* Adjust the width for smaller screens */
    }
    #search-bar{
        width: 75%; /* Adjust the width for smaller screens */
    }
}
@media (max-width: 768px) {
    #results {
        width: 75%; /* Adjust the width for smaller screens */
    }
    #search-bar{
        width: 75%; /* Adjust the width for smaller screens */
    }
}
@media (max-width: 480px) {
    #results {
        width: 95%; /* Adjust the width for smaller screens */
    }
    #search-bar{
        width: 95%; /* Adjust the width for smaller screens */
    }
}

.result-item {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.result-item:hover {
    background-color: #f0f0f0;
}

.result-item a {
    text-decoration: none;
    color: #333;
}





.citation {
    color: rgb(0, 0, 0);
    cursor:help;
    text-decoration: underline dotted rgb(43, 107, 255);
    
}

.citation:hover {
    color: rgb(0, 0, 0);
}
#info-box {
    position: fixed;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f9f9f9;
    color: #333;
    display: none;
    max-width: 40%;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100000;
    opacity: 0; /* Start with invisible */
    transform: scale(0.8); /* Start with smaller size */
    transition: opacity 0.3s, transform 0.3s; /* Smooth transition for scale and opacity */
    overflow: hidden; /* Prevent overflow */
    word-wrap: break-word; /* Break long words into the next line if they don't fit */
    white-space: normal; /* Allow wrapping of text */
    max-height: auto; /* Ensure the box expands based on content height */
    pointer-events: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 610;
}
/* change width of info box to 30 rem for mobile screens */
@media (max-width: 480px) {
    #info-box {
        width: 16rem;
    }
}


@keyframes pop-up {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}




html, body {
    overflow-y: auto !important;
    height: 100%;
   
}

  
/* Base styles */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #c8ffcd;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.responsive-description1 {
    font-size: clamp(1.8rem, 6vw, 4rem) !important; /* Dynamically resize with limits */
    white-space: normal;                 /* Allow text wrapping if needed */
    max-width: 100%;                     /* Full width of the container */
    line-height: 1.2;                    /* Tighten line height */
    margin: 0;                           /* Remove extra margins */
}

/* Further adjustments for smaller screens */
@media (max-width: 991px) {
    .responsive-description1 {
        font-size: clamp(2.5rem, 5vw, 7rem) !important;
    }
}
@media (max-width: 768px) {
    .responsive-description1 {
        font-size: clamp(2.5rem, 5vw, 7rem) !important;
    }
}

@media (max-width: 480px) {
    .responsive-description1 {
        font-size: clamp(1rem, 1vw, 1rem) !important;
        font-weight: bold;
    }
}



/* Keyframes for the pop-up animation */
@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.098);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
/* @keyframes popOut {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    30%{
        transform: scale(1.5);
        opacity: 0;

    }
    60% {
        transform: scale(1.038);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
} */
@keyframes popUp1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.016);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
@keyframes popUp2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(5);
        opacity: 1;
    }
    100% {
        transform: scale(1.001);
    }
}
/* Add this class to apply the animation */
.pop-up-animate {
    animation: popUp 1s ease;
    transform-origin: top center; 
}
.pop-up-animate1 {
    animation: popUp1 1s ease;
}
.pop-up-animate2 {
    animation: popUp2 1s ease;
}
.pop-out-animate {
    animation: popOut 1s ease;
}






/* Responsive adjustments */
@media (max-width: 768px) {
   

    .footer {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
    .footer1 {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
    .navbar {
        height: 60px;
    }

   
    #typing-effect {
        font-size: 24px;
        letter-spacing: 2px;
    }

  
}



/* Ensure content doesn't overflow horizontally */
.container-fluid {
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
html, body {
    height: 100%; /* Ensure the html and body take full height */
    margin: 0; /* Remove default margin */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use minimum height instead of fixed height */
    overflow-y: auto; /* Allow body to scroll */
}

.footer {
    background-color: rgba(0, 0, 0, 0.8); /* Dark translucent background */
    color: #FFFFFF;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 15px;
    font-family: Arial, sans-serif;
    /* box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2); subtle shadow for depth */
    width: 98%; /* Ensures it spans across the page */
}
.footer1 {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.footer p {
    margin-bottom: 1px; /* Remove default margin */
    font-size: 16px;
}

.footer a {
    color: rgb(191, 186, 186); /* Light blue accent color */
    text-decoration: underline;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    transition: color 0.3s ease;
}
@media (max-width: 380px) {
    #footer-bottom a{
        font-size: 0.85rem !important; /* Smaller font size on smaller screens */
    }
}
@media (max-width: 330px) {
    #footer-bottom a{
        font-size: 0.65rem !important; /* Smaller font size on smaller screens */
    }
}
.footer1 h2{
    border-bottom: 2px solid rgba(69, 118, 125, 0.7);
    padding: 12px;
}
.footer a:hover {
    color: #ffffff; /* White on hover */
}
.footer h2{
    margin:0;
}
/* Navbar styling */

/* Flex properties for container */
.container-fluid {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Make it take full height of the navbar */
    flex-wrap: wrap;
}

@media (max-width: 5000px) {
    .navbar-brand h1 {
        font-size: 5rem; /* Smaller font size on smaller screens */
    }

    .navbar-brand img {
        width: 100vw; /* Responsive width for logo on smaller screens */
        max-width: 280px; 
    }

    /* Adjust navbar height and padding */
    .navbar {
        height: auto; /* Allow navbar height to adjust */
        padding: 20px; /* Add padding for smaller screens */
    }
}
@media (max-width: 2000px) {
    .navbar-brand h1 {
        font-size: 1.5rem; /* Smaller font size on smaller screens */
    }

    .navbar-brand img {
        width: 50vw; /* Responsive width for logo on smaller screens */
        max-width: 140px; 
    }

    /* Adjust navbar height and padding */
    .navbar {
        height: auto; /* Allow navbar height to adjust */
        padding: 10px; /* Add padding for smaller screens */
    }
}

@media (max-width: 1700px) {
    .navbar-brand h1 {
        font-size: 1rem; /* Smaller font size on smaller screens */
    }

    .navbar-brand img {
        width: 25vw; /* Responsive width for logo on smaller screens */
        max-width: 70px; 
    }

  
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar-brand h1 {
        font-size: 0.4rem; /* Smaller font size on smaller screens */
    }

    .navbar-brand img {
        width: 15vw; /* Responsive width for logo on smaller screens */
        max-width: 70px; 
    }

    /* Adjust navbar height and padding */
    .navbar {
        height: auto; /* Allow navbar height to adjust */
        padding: 10px; /* Add padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .navbar-brand h1 {
        font-size: 0.2rem; /* Further smaller font size */
    }

    .navbar-brand img {
        width: 25vw; /* Logo size for mobile */
        max-width: 50px; 
    }

    /* Further adjustments */
    .navbar {
        padding: 5px; /* Add padding for mobile */
    }
}




#typing-effect {
    font-family: 'Courier New', monospace;
    color: #009900;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: bold;
    border-right: 2px solid rgb(26, 243, 48); /* Blinking cursor */
    width: 15em;
    animation: typing 2.2s steps(50, end), blinkCursor 0.5s step-end infinite;
}
.typing-effect {
    font-family: 'Courier New', monospace;
    color: #009900;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
    border-right: 2px solid rgb(26, 243, 48); /* Blinking cursor */
    width: 8em;
    animation: typing 2.3s steps(40, end), blinkCursor 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 50%; /* Expand to full width of the container */
    }
}

@keyframes blinkCursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(37, 245, 62);
    }
}

  .swipers {
    position: relative; /* Position relative to allow absolute positioning of the pseudo-element */
    overflow: hidden; /* Hide any overflow */
    color: #3fc1f9; /* Text color */
    font-size: 2rem; /* Increased font size for h1 */
    margin: 0; /* Remove default margin */
}

.swipers::before {
    content: '';
    position: absolute; /* Position absolutely to cover the text */
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height of the h1 */
    background: rgba(110, 253, 78, 0.5); /* Green dim light with opacity */
    transition: left 0s 5s; /* Delay the start of the animation */
    /* background-image: url('./green.png'); */
    /* background: linear-gradient(to right, transparent, #73ff71, transparent); */
}

.swipers.start::before {
    animation: swipe 1s linear infinite; /* Swipe animation */
}
@keyframes swipe {
    0% {
        left: -100%; /* Start off-screen to the left */
    }
    100% {
        left: 100%; /* Move to off-screen right */
    }
}
  .swipers2 {
    position: relative; /* Position relative to allow absolute positioning of the pseudo-element */
    overflow: hidden; /* Hide any overflow */
    /* color: #3fc1f9; Text color */
    /* font-size: 2rem; Increased font size for h1 */
    margin: 0; /* Remove default margin */
}

.swipers2::before {
    content: '';
    position: absolute; /* Position absolutely to cover the text */
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height of the h1 */
    background: rgba(110, 253, 78, 0.5); /* Green dim light with opacity */
    transition: left 0s 5s; /* Delay the start of the animation */
    /* background-image: url('./green.png'); */
    /* background: linear-gradient(to right, transparent, #73ff71, transparent); */
}

.swipers2.start::before {
    animation: swipe 1s linear infinite; /* Swipe animation */
}
@keyframes swipe {
    0% {
        left: -100%; /* Start off-screen to the left */
    }
    100% {
        left: 100%; /* Move to off-screen right */
    }
}
.swipers1 {
    position: relative; /* Position relative to allow absolute positioning of the pseudo-element */
    overflow: hidden; /* Hide any overflow */
    /* color: #3fc1f9; Text color */
    /* font-size: 2rem; Increased font size for h1 */
    margin: 0; /* Remove default margin */
}

.swipers1::before {
    content: '';
    position: absolute; /* Position absolutely to cover the text */
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 35%; /* Full width */
    height: 100%; /* Full height of the h1 */
    /* background: rgba(255, 255, 255, 0.5); Green dim light with opacity */
    background-image: url('./green.png');
    background-size:cover; /* Ensure the image scales correctly */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the pseudo-element */
    /* background: linear-gradient(to right, transparent, #73ff71, transparent); */
    transition: left 0s 5s; /* Delay the start of the animation */
}

.swipers1.start::before {
    animation: swipe1 2s linear infinite; /* 1s for swipe + 2s for pause = 3s total */
}

@keyframes swipe1 {
    0% { left: 0%; }
    33.33% { left: 65%; }  /* Swipe happens in first 1s */
    100% { left: 0%; }    /* Stays for remaining 2s */
}




/* Panel Icon Styles */
.panel-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bcd4; /* Light blue background */
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 25px; /* rounded panel */
    cursor: pointer;
    font-size: 20px;
    height: 2.2rem;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.panel-icon:hover {
    background-color: #0097a7; /* darker blue on hover */
    transform: scale(1.05); /* slight zoom on hover */
}
/* Quick Link Styles */
.quick-link {
    cursor: pointer;
    transition: transform 0.3s ease;
    /* position: fixed;
    bottom: 20px;
    left: 20px; */
    background-color: #2d2d2d;; /* Green */
    /* border-radius: 50%; */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1001; /* Above other elements */
}


/* Popup Styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
   
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.232);
    z-index: 1000; /* Below the panel icon and quick link */

}

.popup-content {
    background-color: white;
    border-radius: 8px;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    max-height: 90vh; /* Ensure it doesn't exceed 90% of the viewport height */
    overflow-y: auto;
    animation: popUp 0.5s ease forwards;
}


/* to change margin based on device width */
@media (max-width: 1000px) {
    .popup-content {
        margin: auto; /* Adjust margin for smaller screens */
    }
}


@keyframes popupAnimation {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Close Button Styles */
.close {
    color: #76fdfd;
    float: right;
    font-size: 34px;
    /* font-weight: bold; */
    font-family: 'Quicksand', sans-serif;
}

.close:hover,
.close:focus {
    color: rgb(104, 255, 255);
    /*glow effect*/
     /*glow effect*/
     text-shadow: 
     0 0 3px #96fff6, 
     0 0 6px #96fff6, 
      
     0 0 12px rgba(150, 255, 246, 0.7);



    text-decoration: none;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .panel-icon,
    .quick-link {
        padding: 10px; /* Reduce padding for smaller screens */
        font-size: 14px; /* Smaller font size */
        bottom: 15px; /* Adjust bottom position */
        right: 15px; /* Adjust right position for panel icon */
        left: auto; /* Reset left position for quick link */
    }

    .quick-link {
        left: 15px; /* Adjust left position for quick link */
    }

    .popup-content {
        width: 90%; /* Increase width on smaller screens */
        margin: 10% auto; /* Adjust margin for smaller screens */
    }

    .close {
        font-size: 24px; /* Smaller close button */
    }
}



/* new */
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 500;
    background: #c8ffcd7d;
    width: 97vw;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.4s ease;
    transform: translateY(0);
}

.tabs.fade-up {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
}

.tabs.fade-down {
    animation: fadeDown 0.4s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tab-btn {
    background: white;
    border: 0.001px solid #4a5c4b; ;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    width:200px;
    height: auto;
    font-family: 'Quicksand', sans-serif;

}

.tab-btn.active{
    background: #32a58a;
    color: white;
}
@media(max-width: 768px) {
    .container{
        width: 97vw !important;
    }
    #thumbnail{
        height:12rem;
    }

}
.container {
    width: 97vw;
    max-width: 2400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    
}

.video-card {
    background: rgba(255, 255, 255, 0.777);
    /*blur*/
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    margin: 10px;
    border: #2d2d2d 1px solid;
}
.video-card.hidden {
    opacity: 0;
}

/* Pop-Out Animation */
@keyframes popOutSmooth {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.video-card.pop-out {
    animation: popOutSmooth 0.4s ease-out forwards;
    
}

.video-card:hover {
    transform: scale(1.02) !important;
}
@media (max-width: 768px) {
   .video-card:hover {
    transform: none !important;
   }
}

.video-card  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
.verse-container  img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}


.video-info {
    padding: 15px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    margin-bottom: 8px;
    font-family: 'Quicksand', sans-serif;
}

.video-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    height: fit-content;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.channel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.channel a {
    text-decoration: none;
    color: #04acd6;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

footer {
background: #222;
color: white;
text-align: center;
padding: 20px;
font-size: 16px;
margin-top: auto;  /* Ensures footer stays at the bottom */
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
        font-size: 14px;
    }
    #navbar-mobile{
        /*to stick to top of page upon scrolling*/
        position: sticky !important;
        top: 0 !important;
        margin-top: -10px !important;
        z-index: 1000 !important;
        margin: 0 !important;
        border-radius: 0px !important;   

        
    }
    h5{
        font-size: 0.8rem !important;
    }
}
.loading {
text-align: center;
font-size: 18px;
color: #04acd6;
margin-top: 20px;
display: none;
}

.spinner {
border: 4px solid rgba(0, 0, 0, 0.1);
border-top: 4px solid #04acd6;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 1s linear infinite;
margin: 10px auto;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.close-side {
    color: #96fff6;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.close-side:hover,
.close-side:focus {
    color: rgb(131, 240, 242);
    /*glow effect*/
    text-shadow: 
    0 0 3px #96fff6, 
    0 0 6px #96fff6, 
    0 0 9px #96fff6, 
    0 0 12px rgba(150, 255, 246, 0.7);


    text-decoration: none;
    cursor: pointer;
}
/* Sidebar Styles */
.sidebar {
position: fixed;
top: 0;
left: -270px; /* Hidden by default */
width: 270px;
height: 100%;
background-color: #5b6d6dc2;
backdrop-filter: blur(5px);
color: rgb(0, 0, 0);
transition: left 0.3s ease;
z-index: 1000;
overflow-y: auto;
}

.sidebar.open {
left: 0; /* Slide in when 'open' class is added */
}

.sidebar-content {
padding: 20px;
}

.sidebar h3 {
font-size: 24px;
margin-bottom: 20px;
color: #ffffff;
font-family: 'Quicksand', sans-serif;
}

.sidebar ul {
list-style: none;
padding: 0;

}

.sidebar ul li {
margin-bottom: 10px;
/*wrap text*/
white-space: normal;
word-wrap: break-word;

}

.sidebar ul li a {
color: rgb(255, 251, 251);
text-decoration: none;
font-size: 18px;
display: block;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s;
font-family: 'Quicksand', sans-serif;
font-weight: 500;
}

.sidebar ul li a:hover {
background-color:#2f4f4fdb;
color: white;
 text-shadow: 
    0 0 3px #96fff6, 

    0 0 12px rgba(150, 255, 246, 0.7);
}


/* Overlay Styles */
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: none; /* Hidden by default */
z-index: 999; /* To be below the sidebar */
}

/* Media Query for Mobile */
@media (max-width: 768px) {
.hamburger-menu {
display: block; /* Show hamburger on small screens */
}
.tabs {
display: none; /* Hide tabs on small screens */
}
#panelIcon{
    display:none;
}
}
@media (min-width: 768px) {
    #mobile-warn{
        display:none !important;

    }
}

/* Initially hide the elements */
.video-card.hidden {
    opacity: 0;
}

/* Pop-Out Animation */
@keyframes popOutSmooth {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.video-card.pop-out {
    animation: popOutSmooth 0.4s ease-out forwards;
    
}
@keyframes smash-in {
    0% {
        transform: scale(5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.smash-in {
    animation: smash-in 0.4s ease-out;
}
.verse-container {
    columns: 3 250px;  /* Create columns with min-width 250px */
    column-gap: 15px;
    padding: 10px;
    max-width: 2500px;
    margin: 0 auto;
    
}
.verse-container img{
    border-radius: 10px;
}
.verse-container b{
    background-color: #d7bbe977;
    text-decoration: underline;
}

.verse-card {
    break-inside: avoid; /* Prevent cards from breaking across columns */
    margin-bottom: 15px; /* Space between cards */
    background: #ffffff;
    border-radius: 14px;
    padding: 12px 15px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    transform: scale(0.9);
    
    /* Gradient Border Effect */
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(white, white), 
                      linear-gradient(135deg, #48c6ef, #6f86d6);
    
    /* Box Shadow */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.verse-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 20px rgba(111, 134, 214, 0.3);
}

.verse-text {
    font-size: 20px;
    /* font-weight: bold; */
    color: #37474f;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
    font-weight: 500;
    white-space: normal;
    word-wrap: break-word;

}

.verse-ref {
    font-size: 15px;
    font-weight: 500;
    color: #555;
    font-style: italic;
    border-top: 2px solid rgba(111, 134, 214, 0.2);
    padding-top: 8px;
    font-family: 'Quicksand', sans-serif;
}

.hidden {
    opacity: 0;
    transform: scale(0.9);
}

.pop-out {
    opacity: 1;
    transform: scale(1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .verse-container {
        columns: 2 200px;
    }
}

@media (max-width: 480px) {
    .verse-container {
        columns: 1 300px;
      
    }
}


.flex-container {
    columns: 2 250px;  /* Create columns with min-width 250px */
    column-gap: 15px;
    padding: 10px;
    max-width: 2500px;
    margin: 0 auto;
    
}
.flex-container img{
    border-radius: 10px;
}
.flex-container b{
    background-color: #d7bbe977;
    text-decoration: underline;
}

.flex-card {
    break-inside: avoid; /* Prevent cards from breaking across columns */
    margin-bottom: 15px; /* Space between cards */
    background: #ffffff;
    border-radius: 14px;
    padding: 4px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    transform: scale(0.9);
    
    /* Gradient Border Effect */
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(white, white), 
    linear-gradient(135deg, #48c6ef, #6f86d6);
    
    /* Box Shadow */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}


.flex-text {
    font-size: 20px;
    /* font-weight: bold; */
    color: #37474f;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
    font-weight: 500;
    white-space: normal;
    word-wrap: break-word;
    
}
.flex-header{

    color: #37474f;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
    font-weight: 500;
    white-space: normal;
    word-wrap: break-word;
    text-decoration: underline;
    
}
#dynamicContent{
    color: #37474f;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    padding: 0;
    margin: 0px;
    text-decoration: underline;
    
}
@media (max-width: 768px) {
    #dynamicContent{
        font-size: 1.1rem;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .flex-text{
        font-size: 1rem;
    }
    .flex-header{
        font-size: 1.1rem !important;
        font-weight: bold;
        
    }
}

.flex-ref {
    font-size: 15px;
    font-weight: 500;
    color: #555;
    font-style: italic;
    border-top: 2px solid rgba(111, 134, 214, 0.2);
    padding-top: 8px;
    font-family: 'Quicksand', sans-serif;
}


.pop-out {
    opacity: 1;
    transform: scale(1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flex-container {
        columns: 2 200px;
    }
}

@media (max-width: 480px) {
    .flex-container {
        columns: 1 300px;
        
    }
}

.footer-anchors a:hover{
    text-shadow: 
    0 0 3px #96fff6, 
    
    0 0 12px rgba(150, 255, 246, 0.7);
}

.blog-container {
    columns: 1 250px;  /* Create columns with min-width 250px */
    column-gap: 15px;
    padding: 1px;
    max-width: 2500px;
    margin: 0 auto;
    
}


.blog-gray{
    font-size: 1.1rem !important;
    color: #555 !important; 
    margin-top: 10px !important;
    padding: 10px !important; 
    background: rgba(223, 222, 222, 0.9) !important; 
    border-radius: 8px !important;
    display: inline-block !important;
    max-width: 90% !important;
}
.blog-pink{
    font-size: 1.1rem !important;
    margin-top: 10px !important;
    padding: 10px !important; 
    background-color:#eab8e4 !important; 
    border-radius: 8px !important;
    display: inline-block !important;
    max-width: 90% !important;
}
.blog-green{
    font-size: 1.1rem !important;
    margin-top: 10px !important;
    padding: 10px !important; 
    background-color: #d4f7d4 !important; 
    border-radius: 8px !important;
    display: inline-block !important;
    max-width: 90% !important;
}
.blog-blue{
    font-size: 1.1rem !important;
    margin-top: 10px !important;
    padding: 10px !important; 
    background-color: #ccf2ff !important; 
    border-radius: 8px !important;
    display: inline-block !important;
    max-width: 90% !important;
}
.blog-violet{
    font-size: 1.1rem !important;
    margin-top: 10px !important;
    padding: 10px !important; 
    background-color: #dfcdf8 !important; 
    border-radius: 8px !important;
    display: inline-block !important;
    max-width: 90% !important;
}


.shareBtn {

    border: none;
    padding: 6px 10px;
    font-size: 26px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.1s ease, background 0.3s ease;
}

.shareBtn:active {
    transform: scale(0.85); /* Shrink slightly when pressed */
}

.shareBtn.animate {
    animation: clickEffect 0.1s ease;
}

@keyframes clickEffect {
    0% { transform: scale(1); }
    25%{ transform: scale(0.95); }
    50% { transform: scale(0.85); }
    100% { transform: scale(1); }
}

.copyBtn {

    border: none;
    padding: 6px;
    font-size:26px;
    border-radius: 20px;
    cursor: pointer;
    
}
@media (max-width:480px ){
       .mirror{
        font-size: 20px !important;
       }
       .shareBtn{
        font-size: 19px !important;
       }
         .copyBtn{
          font-size: 19px !important;
         }
}

.copyBtn {
    transition: all 0.3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
}

.fade-out-copy {
    opacity: 0;
    transform: scale(0.9);
}

.fade-in-copy {
    opacity: 1;
    transform: scale(1);
}
